:root{
    --color-purple: #5a559d;
    --color-yellow: #ffde1c;
    --color-green: #38ac98;
    
    --font-title-style-1: 46px;
    --font-title-style-2: 32px;
    --font-title-style-3: 20px;
    --font-title-style-4: 16px;
    --font-paragraph: 16px;
}

.card-title-style1-purple{
    font-size: var(--font-title-style-3);
    color: var(--color-purple);
}

.card-title-style2-purple{
    font-size: var(--font-title-style-4);
    color: var(--color-purple);
}

.card-small{
    border-radius: 8px !important;
    -moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.2);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.2);
	box-shadow: 5px 5px 5px rgba(68,68,68,0.2);
}
.card-icon-wrap{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: var(--color-green);
    width: 24px;
    height: 24px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-icon-wrap i{
    color: white;
    font-size: 12px;
}

#calendar-body tr td{
    text-align: center;
}
.today {
    background-color: var(--color-yellow);
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

.yellow-button{
    background-color: var(--color-yellow);
    width: max-content;
    padding: 5px 20px;
    border-radius: 50px;
    border: none;
    font-size: 11px;
    color: var(--color-purple);
    font-weight: 500;
}
.paragraph-text{
    color: #212529;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.box-data{
    background-color: var(--color-purple);
    border-radius: 15px;
    text-align: center;
}

.box-data p{
    color: var(--color-yellow);
    font-size: 18px;
    font-weight: 600;
}

.box-data h3{
    color: var(--color-yellow);
    font-size: 36px;
    font-weight: 600;
}

.title-style-3{
    font-weight: 700;
    font-size: 14px;
}
.sample-answer-btn{
    font-size: 16px;
    font-weight: 500;
    background-color: #f5f5f5;
    color: var(--color-purple);
    border: none;
    width: 100%;
    border-radius: 50px;
    margin-bottom: 20px;
}
.sample-answer-btn.active{
    background-color: var(--color-yellow);
}

.btn-purple{
    background-color: var(--color-purple);
    width: max-content;
    border:none;
    padding: 5px 25px;
    border-radius: 25px;
    font-size: 22px;
    font-weight: 700;
    color: var(--color-yellow);
}


.scrollable-column {
    height: 75vh; 
    overflow-y: auto; 
}

.col-9 {
    flex: 1; 
}

.col-3 {
    flex-shrink: 0; 
}

.scrollable-column::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

.scrollable-column::-webkit-scrollbar-track {
    background: transparent;
}

.scrollable-column::-webkit-scrollbar-thumb {
    background: transparent;
}
.section-description-intentship{
    font-weight: 500;
    font-size: 16px;
}
.filter-btn-yellow{
    background-color: transparent;
    color: var(--color-purple);
    font-weight: 600;
    border: solid 1px var(--color-yellow);
    border-radius: 8px;
    font-size: 14px;
    padding: 8px 10px;
    line-height: 18px;
}
.fa-filter{
    color: var(--color-yellow);
}
.rating-stars{
    color: var(--color-yellow);
    font-size: 14px;
}
.see-more-link{
    font-size: 16px;
    color: var(--color-purple);
    font-weight: 600;
}

.divtable{
    width: 100%;
}

.row1{
    background-color: #f5f5f5;
    width: 100%;
    padding: 10px;
}

.row2{
    background-color: #f9f9f9;
    width: 100%;
    padding: 10px;
}
.title-16-purple{
    font-size: 16px;
    color: var(--color-purple);
}

.yellow-text-lg{
    color: #ffde1c;
    font-size: 16px;
    font-weight: 700;
}
.white-text-lg{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.eventDateTime{
    color: #fff;
    opacity: 0.8;
    font-size: 12px;
    font-weight: 300;
}

.yellow-text{
    color: #ffde1c;
    font-size: 14px;
}

.yellow-text-small{
    color: #ffde1c;
    font-size: 10px;
}

.eventcard{
    background-color: #5a559d;
    border-radius: 10px;
}

.eventImgWrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.eventImgWrapper .eventImage {
    transition: transform 0.3s ease;
}

.eventImgWrapper:hover .eventImage {
    transform: scale(1.3);
}